/*Globals*/
body{
    background: lighten($maincolor, 3%);
    color: #fff;
    font-size: 14px;
    font-family: $font-base;
    height: 100%;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
}

*{
    @include prefix(box-sizing, border-box);
}

a{
    text-decoration:none;
    color: lighten($maincolor, 10%);
}
a:hover{
    color: #fff;
}
img{
    max-width:100%;
}

.pull-right{
    float: right;
}

.pull-left{
    float: left;
}
.btn-download{
    background: rgba($maincolor, .9);
    color: rgba($maincolor, 1);
    padding: 20px 50px;
    display: inline-block;
    @include prefix(border-radius, 5px);
    &:hover{
        background: $maincolor;
    }
}

.wrapper{
    max-width: $desktop-width;
    margin: 0 auto;
    @extend %clearfix;

    @media screen and (max-width: 960px) {
        padding: 0 10px;
    }
}

@media screen and (max-width: 560px){
    .wrapper{
        padding: 20px;
    }
}
