// Media queries - Mobile 

@media screen and (max-width: 560px){
    .wrapper{
        padding: 20px;
    }
}

@media screen and (max-width: 600px){
    .pic{
        display:block;
        margin: 10px auto;
        max-width: 400px;
        max-height: 300px;
        animation: none;
    }
    header{
        text-align: center;
    }
    .btn{
        width: 100%;
        float: none;
        text-align:center;
        margin: 5px 0;
       
    }
    .btn-download{
        float: none;
        margin-top: 20px !important;
    }
    .wrapper{
        padding:10px;
    }
}