// Mixins

// Global Mixins for CSS3 prefix
@mixin prefix($prop, $val){
    @each $prefix in -webkit-, -moz-, -o-, -ms-, ''{
        #{$prefix}#{$prop}: $val;
    }
}

// Clearfix
%clearfix{
    &:before,
    &:after{
        content:'';
        display: table;
        clear: both;
    }
}

// Opacity
@mixin transparency($opacity){
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=($opacity * 100))";
    filter: alpha(opacity=($opacity * 100));
    -moz-opacity: $opacity;
    -khtml-opacity: $opacity;
    opacity: $opacity;
}

// Animations
@keyframes anima{
    from{
        margin-top: -50px;
        @include transparency(0);
    }
    to{
        margin: auto;
        @include transparency(1);
    }
}

@-webkit-keyframes anima{
    from{
        margin-left: -20px;
        @include transparency(0);
    }
    to{
        margin-left: 10px;
        @include transparency(1);
    }
}
