// Variables

$color1: rgba(231, 76, 60, 0.92);
$color2: rgba(41, 128, 185, 0.92);
$color3: rgba(44, 62, 80,0.92);
$color4: rgba(46, 204, 113,0.92);
$color5: rgba(73, 73, 73,0.92);

$maincolor: $color3;
